{ns myapp
 import #{zen.http}

 index-op
 {:zen/tags #{zen.http/simple-op}
  :response {:status 200
             :body "Hello"}}

 admin-api
 {:zen/tags #{zen.http/routes}}

 api
 {:zen/tags #{zen.http/routes}
  :engine zen.http/route-map
  :apis [admin-api]
  :middleware [basic-auth]
  :GET index-op
  :POST zen.http/rpc}

 http
 {:zen/tags #{zen/start zen.http/http}
  :engine zen.http/httpkit
  :port 8080
  :formats #{zen.http/json zen.http/yaml zen.http/html}}

 system
 {:zen/tags #{zen/system}
  :start [http]}

 }
