{ns myapp
 import #{zen.http}

 index-op
 {:zen/tags #{zen.http/simple-op}
  :response {:status 200
             :body "Hello"}}

 admin-api
 {:zen/tags #{zen.http/routes}}

 api
 {:zen/tags #{zen.http/routes}
  :engine zen.http/route-map
  :apis [admin-api]
  :middleware [basic-auth]
  :GET index-op
  :POST zen.http/rpc}


 formats-middleware
 {:zen/tags #{zen.http/middleware}
  :engine zen.http/formats-middleware
  :formats #{zen.http/json zen.http/yaml zen.http/transit zen.http/html}}

 basic-auth
 {:zen/tags #{zen.http/middleware}
  :engine zen.http/basic-auth
  :users [{:login "admin" :password "u134zp2n"}]}

 dispatch
 {:zen/tags #{zen/op zen.http/dispatch}
  :apis [api]}

 http
 {:zen/tags #{zen/start zen.http/http}
  :engine zen.http/httpkit
  :port 8080
  :middlewares [formats basic-auth]
  :dispatch dispatch}

 system
 {:zen/tags #{zen/system}
  :start [http]}

 }
