{ns myzendoc

 :zen/deps ["https://github.com/zen-lang/zen-http"
            "https://github.com/zen-lang/zd"]

 ;; here is still question how simple to configure
 ;; late binding vs early binding
 import #{zen.http zendoc zendoc.mermaid zendoc.codehl}

 document-op
 {:zen/tags #{zen.http/op}
  :engine zendoc/document-op
  :db zendoc-db}

 admin-api
 {:zen/tags #{zen.http/routes}}

 basic-auth
 {:zen/tags #{zen.http/middleware}
  :engine zen.http/basic-auth
  :users [{:login "admin" :password "u134zp2n"}]}

 api
 {:zen/tags #{zen.http/routes}
  :engine zen.http/route-map
  :apis [admin-api zendoc/api]
  :middleware [basic-auth]
  :GET document-op
  :POST zen.http/rpc}

 formats-middleware
 {:zen/tags #{zen.http/middleware}
  :engine zen.http/formats-middleware
  :formats #{zen.http/json zen.http/yaml zen.http/transit zen.http/html}}

 http
 {:zen/tags #{zen/start zen.http/http}
  :engine zen.http/httpkit
  :port 8080
  :middlewares [formats]
  :apis [api]}

 people
 {:zen/tags #{zendoc/zentext-ext}
  :engine zendoc/mention
  :prefix "@"
  :namespace "people"}

 mermaid
 {:zen/tags #{zendoc/zentext-block}
  :engine zendoc.mermaid/mermaid}

 code-hl
 {:zen/tags #{zendoc/block}
  :engine zendoc.codehl/zentext-code}

 search
 {:zen/tags #{zendoc/search}
  :engine zendoc/search}

 zendoc
 {:zen/tags #{zen/start zendoc/db}
  :zen/desc "zendoc configuration"
  :engine zendoc/db
  :docs "docs"}

 system
 {:zen/tags #{zen/system}
  :start [http zendoc]}

 }
