{:ns zen.http.engines

 middleware
 {:zen/tags #{zen/tag zen/schema}
  :zen/desc "tag for middleware engine"
  :type zen/map
  :keys {:dir {:type zen/set :every {:type zen/keyword}}}}

 op
 {:zen/tags #{zen/tag zen/schema}
  :type zen/map}

 all-of
 {:zen/tags #{middleware zen/schema}
  :zen/desc "executes all mws one by one"
  :type zen/map
  :keys {:mws {:type zen/vector
               :every {:type zen/symbol
                       :tags #{zen.http/middleware}}}}}

 basic-auth
 {:zen/tags #{middleware zen/schema}
  :dir #{:in}
  :type zen/map
  :keys {:user {:type zen/string}
         :password {:type zen/string}}}

 serve-static
 {:zen/tags #{op zen/schema}
  :type zen/map
  :keys {:serve {:type zen/vector :every {:type zen/string}}}}

 response
 {:zen/tags #{op zen/schema}
  :type zen/map
  :keys {:response {:type zen/map
                    :values {:type zen/any}}
         :select {:type zen/keyword}}}}
