{:ns zen.http.oauth
 :import #{zen.http zen.http.engines}

 middleware {:zen/tags #{zen/tag}}

 provider
 {:zen/tags #{zen/tag zen/schema}
  :type zen/map
  :require #{:client-id :client-secret}
  :validation-type :open
  :keys {:client-id {:type zen/string}
         :client-secret {:type zen/string}
         :userinfo-endpoint {:type zen/string}
         :token-endpoint {:type zen/string}
         :authorize-endpoint {:type zen/string}
         ;; TODO add redirect_uri??
         ;; TODO add provider-specific configuration w schema-key?
         :scopes {:type zen/vector
                  :every {:type zen/string}}}}

 config
 {:zen/tags #{zen/tag zen/schema}
  :type zen/map
  :require #{:providers :base-uri :cookie :secret}
  :keys {:providers {:type zen/vector
                     :every {:type zen/symbol
                             :tags #{provider}}}
         :zen/bind {:type zen/symbol :tags #{zen/binding}}
         :public {:zen/desc "vector of public endpoints"
                  :type zen/vector
                  :every {:type zen/string}}
         ;; TODO add uri regex
         :base-uri {:zen/desc "application base uri for oauth redirects"
                    :type zen/string}
         :cookie {:zen/desc "cookie name for JWT"
                  :type zen/string}
         :secret {:zen/desc "secret string for JWT HMAC sig"
                  :type zen/string}}}

 config-binding
 {:zen/tags #{zen/tag zen/binding}
  ;; TODO implement interface check
  #_:tags #_#{config}}

 index
 {:zen/tags #{zen/op zen.http/op}
  :config config-binding}

 callback
 {:zen/tags #{zen/op zen.http/op}
  :config config-binding}

 redirect
 {:zen/tags #{zen/op zen.http/op}
  :config config-binding}

 verify-jwt
 {:zen/tags #{zen.http/middleware middleware zen/op}
  :config config-binding
  :dir #{:in}}

 snap-config
 {:zen/tags #{zen.http/middleware middleware zen/op}
  :zen/desc "resolves provider refs in oauth config for ops"
  :config config-binding
  :dir #{:in}}

 api
 {:zen/tags #{zen.http/api zen/tag zen.http.oauth/api}
  :engine zen.http/routemap
  :mw [snap-config]
  "auth" {:GET index
          "callback" {[:provider-id] {:GET callback}}
          [:provider-id] {:GET redirect}}}}
