{:ns zen.http.oauth
 :import #{zen.http zen.http.engines}

 middleware
 {:zen/tags #{zen/tag zen/schema}}

 verify-jwt
 {:zen/tags #{zen.http.engines/middleware zen/schema middleware}
  :dir #{:in}
  :type zen/map
  :keys {:config {:type zen/symbol :zen/desc "oauth config instance"}}}

 merge-config
 {:zen/tags #{zen.http.engines/middleware zen/schema middleware}
  :dir #{:in}
  :type zen/map
  :keys {:config {:type zen/symbol :zen/desc "oauth config instance"}}}

 ;; TODO write schemas on provider and config
 provider
 {:zen/tags #{zen/tag zen/schema}}

 config
 {:zen/tags #{zen/tag zen/schema}}

 index
 {:zen/tags #{zen.http.engines/op zen/schema}
  :type zen/map
  :keys {:config {:type zen/symbol :tags #{config}}}}

 callback
 {:zen/tags #{zen.http.engines/op zen/schema}
  :type zen/map
  :keys {:config {:type zen/symbol :tags #{config}}}}

 redirect
 {:zen/tags #{zen.http.engines/op zen/schema}
  :type zen/map
  :keys {:config {:type zen/symbol :tags #{config}}}}}
